{%  load i18n %}
<p>
<div class="container-fluid" >
<h4>{% trans 'status_caption_header' %}:
    <i class="fa fa-circle" style="color:{% if instance_data.status.code == 'OK' %}
                                             green
                                         {% else %}
                                            red
                                          {% endif %}">
    </i>
    {{ instance_data.status.code }} ({{ instance_data.status.message }})<p></h4>
<p></p><p></p><p></p><p></p><p></p>
<h4>{% trans 'status_filesystem_name' %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped {% if fs_used_proc < 80 %} bg-success {% elif fs_used_proc >= 80 and fs_used_proc < 90 %} bg-warning {% elif fs_used_proc >= 90 %} bg-danger {% endif %}"
             role="progressbar" style="width: {{ fs_used_proc }}%;" aria-valuenow="{{ fs_used_procs }}" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div></h4>

<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">{% trans 'status_zfs_pool_size' %}</th>
      <th scope="col">{% trans 'status_space_used' %}</th>
      <th scope="col">{% trans 'status_space_free' %}</th>
      <th scope="col">{% trans 'status_factual_size' %}
          <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="left"
             title="{% trans 'status_factual_size_description' %}">
          </i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
    <tr>
{#      <th scope="row">Default</th>#}
      <td>{{ instance_data.fileSystem.sizeHR }}</td>
      <td>{{ instance_data.fileSystem.usedHR }}</td>
      <td>{{ instance_data.fileSystem.freeHR }}</td>
      <td>{{ instance_data.dataSizeHR }}</td>
    </tr>

  </tbody>
</table>

<p></p>

<h4>{% trans 'status_clones_header' %}</h4>
{% include 'clones/clone_list.html' %}
</div>