.clone_id_text {
  font-weight: 700 !important;
  color:  black; !important;
}

.action_icon {

}
.clone_info {
  color:  lightseagreen;
  font-size: 140%;
  cursor: pointer;
}

.clone_protected {
  color:  green;
  font-size: 140%;
  cursor: pointer;
}

.clone_unprotected {
  color:  orange;
  font-size: 140%;
  cursor: pointer;
}

.clone_undo {
  color:  dodgerblue;
  font-size: 140%;
  cursor: pointer;
}

.clone_destroy {
  color:  darkred;
  font-size: 140%;
  cursor: pointer;
}

.clone_status_ok{
  color:  green;
  font-size: 120%;
}

.clone_status_not_ok{
  color:  red;
  font-size: 120%;
}

.favicon {
    margin-right: 10px;
}

.pointer {
    cursor: pointer;
}

.version {
    font-size: 15px;
}

.w-0 {
  width: 0% !important;
}

.progress-line, .progress-line:before {
  height: 5px;
  width: 100%;
  margin: 0;
}
.progress-line {
  background-color: #f7f7f1;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: #20c997;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}