{%  load static %}

<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/bootstrap.esm.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% block head %}
    {% endblock head %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="h-100">
 {% block content %}
 {% endblock content %}
</body>
</html>