{% load i18n %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <img src="{% static 'img/logo.svg' %}" width="40" height="40" alt="DLE GUI"
         class="favicon pointer">
    <a class="navbar-brand" href="/">
        Database Lab Engine GUI
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {{ status_selected }}" href="/status">{% trans 'nav_status' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ snapshot_selected }}" href="/snapshot">{% trans 'nav_snapshots' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ clone_selected }}" href="/clone">{% trans 'nav_clones' %}</a>
        </li>
        <li class="nav-item">
            <div id="header">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}              
              <form action="/i18n/setlang/" method="post">{% csrf_token %}
                <span class="nav-link">{% trans 'nav_language_change' %}&nbsp;<select name="language">
                    {% for lang in LANGUAGES %}
                      <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ lang.1 }}</option>
                    {% endfor %}
                </span>
                  <input type="submit" value="Go" />
                </a>                
              </form>
            </div>
        </li>
      </ul>
     <form class="d-print-flex">
        <span class="badge badge-light version">v{{ version }}</span>
      </form>
      <form class="d-flex" action="/logout">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">{% trans 'nav_logout' %}</button>
      </form>
    </div>
  </div>
</nav>