{% load i18n %}
{% load static %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/clones/clone_list.js' %}"></script>
{% endblock head %}

<p>
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">{% trans 'clone_count' %}</th>
      <th scope="col">{% trans 'clone_new_creation_time' %}</th>
      <th scope="col">{% trans 'clone_idle_time' %}
            <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="left"
               title="{% trans 'clone_idle_time_hint' %}">
            </i>
      </th>
      <th scope="col">{% trans 'clone_actions' %}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
    <tr>
{#      <th scope="row">Default</th>#}
      <td>{{ instance_data.numClones }}</td>
      <td>{{ instance_data.expectedCloningTime }}</td>
      <td>{{ clone_max_idle_minutes }}</td>
      <td class="text-end">
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#formCreateClone">
            <img src="{% static 'img/create_clone.png' %}" width="20" height="20" class="me-1" alt="">
            {% trans 'nav_create_clone'  %}
        </button>
      </td>
    </tr>

  </tbody>
</table>

    <table class="table table-hover table-striped" id="tableCloneList">
      <thead>
        <tr>
          <th scope="col">{% trans 'clone_name' %}</th>
          <th scope="col">{% trans 'clone_status' %}</th>
          <th scope="col">{% trans 'clone_createAt' %}</th>
          <th scope="col">{% trans 'clone_protected' %}</th>
          <th scope="col">{% trans 'clone_create_time' %}</th>
          <th scope="col">{% trans 'clone_diff_size' %}</th>
          <th scope="col">{% trans 'clone_snapshot' %}
              <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="left"
                 title="{% trans 'clone_snapshot_hint' %}">
              </i>
          </th>
          <th scope="col">{% trans 'clone_owner' %}</th>
          <th scope="col">{% trans 'clone_actions' %}</th>
        </tr>
      </thead>
{% for clone in instance_data.clones %}
      <tbody>
        <tr class="table-active">
        <tr>
    {#      <th scope="row">Default</th>#}
          <td>{{ clone.id }}</td>
          <td>
              <i class="fa fa-circle {% if clone.status.code == 'OK' %}clone_status_ok{% else %}clone_status_not_ok{% endif %}"
                 data-toggle="tooltip" data-placement="left" title="{{ clone.status.code }}: {{ clone.status.message }}">
                </i>
          </td>
          <td>{{ clone.createdAt }}</td>
          <td>
               {% if clone.protected %}
                   <i class="fa fa-lock clone_protected"></i>
               {% else %}
                   <i class="fa fa-unlock clone_unprotected"></i>
               {% endif %}

          </td>
          <td>{{ clone.metadata.cloningTime }}</td>
          <td>{{ clone.metadata.cloneDiffSizeHR }}</td>
          <td>{{ clone.snapshot.id }}</td>
          <td>{{ clone.owner }}</td>
          <td style="white-space: nowrap;">
                <div class="invisible" id="clone-info--{{ clone.id }}">"{{ clone|json_script:"clone-info" }}"</div>
                <i class="fa fa-info-circle clone_info" id="{{ clone.id }}"
                   data-toggle="tooltip" data-placement="left"  title="{{ clone.db.connStr }}">
                </i>
               {% if clone.protected %}
                        <i class="fa fa-unlock clone_unprotected action_icon" id="{{ clone.id }}"
                           data-msg="{% trans 'clone_unprotect_confirm' %} " data-action="unprotect"
                         data-toggle="tooltip" data-placement="left" title="{% trans 'clone_unprotect_action' %}">
                        </i>
               {% else %}
                        <i class="fa fa-lock clone_protected action_icon action_icon" id="{{ clone.id }}"
                           data-msg="{% trans 'clone_protect_confirm' %} " data-action="protect"
                         data-toggle="tooltip" data-placement="left" title="{% trans 'clone_protect_action' %}">
                        </i>
               {% endif %}

                <i class="fa fa-undo clone_undo action_icon" id="{{ clone.id }}"
                   data-msg="{% trans 'clone_reset_confirm' %} " data-action="reset"
                 data-toggle="tooltip" data-placement="left" title="{% trans 'clone_reset_action' %}">
                </i>
                <i class="fa fa-remove clone_destroy action_icon" id="{{ clone.id }}"
                   data-msg="{% trans 'clone_destroy_confirm' %} " data-action="destroy"
                 data-toggle="tooltip" data-placement="left" title="{% trans 'clone_delete_action' %}">
                </i>
          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>

{%  include 'clones/create_clone.html' %}

  <div class="modal fade" id="formConfirm" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">{% trans 'confirm_action_label' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'clone_close_button' %}"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <table class="w-100">
                    <tr class="w-100">
                        <td class="w-auto" id="cellConfirmMessage">
                            <label class="form-label w-auto text-wrap" id="modalLblMessage"></label>
                            <label class="form-label w-auto text-wrap clone_id_text" id="modalLblID"></label>
                            <label class="form-label w-0 text-wrap invisible" id="modalLblAction"></label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modalBtnConfirm">{% trans 'clone_action_confirm' %}</button>
          <button type="button" class="btn btn-secondary" id="modalBtnDismiss">{% trans 'clone_action_cancel' %}</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="formError" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-secondary" id="modalLabel">{% trans 'clone_error_label' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'clone_close_button' %}"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <table class="w-100">
                    <tr class="w-100">
                        <td class="w-auto">
                            <label class="form-label w-auto text-wrap" id="modalLblErrorMessage"></label>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'clone_close_button' %}</button>
        </div>
      </div>
    </div>
  </div>


