{% load i18n %}
{% load static %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/clones/create_clone.js' %}"></script>
{% endblock head %}

  <div class="modal fade" id="formCreateClone" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">{% trans 'create_new_clone_header' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'create_new_clone_cancel' %}"></button>
        </div>
        <div class="modal-body">
            <div class="form-group invisible" id="fgrMessage">
                <table class="w-100">
                    <tr class="w-100">
                        <td class="w-auto" id="cellMessage">
                            <label class="form-label text-secondary w-100 text-wrap" id="lblMessage"></label>
                        </td>
                        <td class="w-100" id="cellProgress">
                            <div class="progress-line" id="createCloneProgress"></div>
                        </td>
                    </tr>
                </table>
                
            </div>

            <div class="form-group">
              <label for="snapshot_id" class="form-label mt-4">{% trans 'select_snapshot_header' %}</label>
                <select class="form-select" aria-label="{% trans 'select_snapshot_details' %}" id="snapshot_id" name="snapshot_id">
                    {% for snapshot in snapshots_list %}
                        <option class="snaphot-id"
                                value="{{ snapshot.id }}">
                            {{ snapshot.id }} ({{ snapshot.dataStateAt }})
                        </option>
                    {%  endfor %}
                </select>
            </div>

            <div class="form-group">
              <label for="clone_id" class="form-label mt-4">{% trans 'clone_id' %}</label>
              <input type="text" class="form-control" id="clone_id" name="clone_id" placeholder="" autofocus>
            </div>

            <div class="form-group">
              <label for="clone_db_username" class="form-label mt-4">{% trans 'clone_db_username' %}</label>
              <input type="text" class="form-control" id="clone_db_username" name="clone_db_username" placeholder="">
            </div>

            <div class="form-group">
              <label for="clone_db_password" class="form-label mt-4">{% trans 'clone_db_password' %}</label>
              <input type="text" class="form-control" id="clone_db_password" name="clone_db_password" placeholder="">
            </div>

            <div class="form-group">
              <div class="form-check mt-4">
                <input class="form-check-input" type="checkbox" value="" id="clone_protect">
                <label class="form-check-label" for="clone_protect">{% trans 'clone_protect_from_deletion' %}</label>
              </div>
            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnCreateClone">{% trans 'clone_action_confirm' %}</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'clone_action_cancel' %}</button>
        </div>
      </div>
    </div>
  </div>